* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.card {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: center;
}

.box {
  padding-top: 1rem;
}

.card2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
  background-color: #f1f1f1;
}
